/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}



.image { 
   position: relative; 
   /*width: 55%;*/  /* for IE 6 */
}

span.caption { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 80%; 
   /*color: #FFFFFF; */
   text-align:center;
   background-color: #CCC; 
   opacity: 0.5;
   min-height: 30px;
  /* visibility: hidden; */
}
/*
.animate-enter, 
.animate-leave
{ 
   -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;


    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  right: 0;

}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0.3;
    right: -5px;
}
*/
/*
h3.caption:hover { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

*/
